<% content_for :extra_foot do %>
  <%= javascript_pack_tag "html_stripped" %>
<% end %>

<h1>HTML Stripper</h1>

<p>
  <button id="copy" class="btn btn-primary" data-clipboard-text="<%= @response %>">Copy</button>
  <%= link_to 'Back', '/util/html', class: 'btn btn-primary', id: 'backButton' %>
</p>

<label style="width: 100%;">
  <textarea style="height: <%= (24.25 * @response.split("\n").length) + 13.75 %>px" id="content" class="form-control"><%= @response %></textarea>
</label>
