<% content_for :extra_foot do %>
  <%= javascript_pack_tag "html_stripped" %>
<% end %>

<h1>HTML Stripper</h1>

<p>
  <button id="copy" class="btn btn-primary" data-clipboard-text="<%= @response %>">Copy</button>
  <%= link_to 'Back', '/util/html', class: 'btn btn-primary', id: 'backButton' %>
</p>

<label class="width-100">
  <textarea rows="<%= @response.split("\n").length %>" id="content" class="form-control"><%= @response %></textarea>
</label>
