<% content_for :extra_head do %>
  <%= meta_tags title: "COVID-19 Vaccination Information",
                description: "Get the latest info on COVID-19 Vaccination, worldwide.",
                service: "Chew",
                color: 'cornflowerblue' %>
<% end %>

<h1>COVID-19 Vaccine Tracking</h1>

<p>Last updated: <%= distance_of_time_in_words_to_now @data['updated'] %> ago (updates Daily)</p>

<h2>Table of Contents</h2>

<ul>
  <li><%= link_to "Vaccination", "#vaccination" %></li>
  <li><%= link_to "Vaccines", "#vaccines" %></li>
</ul>

<h2 id="vaccination">Vaccination</h2>

<p><b>Some data may be missing.</b> Why? Don't ask me, I just share the data I have.</p>

<h4>Column breakdown</h4>
<p>
  <b>Name</b> - The Name of the country, state, territory, organization, etc.<br>
  <b>Updated</b> <i>(Global only)</i> - When data was last updated<br>
  <b>Doses</b> - The amount of doses given to people. <i>(Hidden by default. <%= link_to "Why?", "#why" %>)</i><br>
  <b>People</b> - The amount of people who have received at least one dose <i>(Hidden by default <%= link_to "Why?", "#why" %>)</i><br>
  <b>Completed</b> - The amount of people who have been completely vaccinated<br>
  <b>Population</b> - The population of the country, state, territory, organization, etc.<br>
  <b>Doses per Capita</b> - Doses / Population <i>(Hidden by default. <%= link_to "Why?", "#why" %>)</i><br>
  <b>People per Capita</b> - People / Population <i>(Hidden by default. <%= link_to "Why?", "#why" %>)</i><br>
  <b>Completed per Capita</b> - % of people who are completely vaccinated
</p>

<h4 id="why">Why are some columns hidden by default?</h4>
<p>
  Some columns are hidden due to potentially misleading information.
  The information may be unnecessary and can be potentially misinterpreted.
  It can be manually enabled by clicking the column toggle and selecting the columns you want.
</p>

<h3>Global Information</h3>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" data-toggle="table" data-pagination="true" data-search="true" data-show-columns-toggle-all="true" data-show-columns="true">
    <thead class="thead-dark">
    <tr>
      <th data-sortable="true" data-field="name" data-switchable="false" data-sort-order="asc">Name</th>
      <th data-sortable="true" data-field="dateUpdated">Updated</th>
      <th data-sortable="true" data-field="noDosesTotal" data-sort-order="desc" data-visible="false">Doses</th>
      <th data-sortable="true" data-field="noPeopleTotal" data-sort-order="desc" data-visible="false">People</th>
      <th data-sortable="true" data-field="noCompletedVaccination" data-sort-order="desc">Completed</th>
      <th data-sortable="true" data-field="population" data-sort-order="desc">Population</th>
      <th data-sortable="true" data-field="noDosesTotalPerCapita" data-sort-name="noDosesTotalPerCapitaRaw" data-sort-order="desc" data-visible="false">Doses per Capita</th>
      <th data-sortable="true" data-field="noDosesTotalPerCapitaRaw" data-switchable="false" data-visible="false">Doses per Capita Raw</th>
      <th data-sortable="true" data-field="noPeopleTotalPerCapita" data-sort-name="noPeopleTotalPerCapitaRaw" data-sort-order="desc" data-visible="false">People per Capita</th>
      <th data-sortable="true" data-field="noPeopleTotalPerCapitaRaw" data-switchable="false" data-visible="false">People per Capita Raw</th>
      <th data-sortable="true" data-field="noCompletedVaccinationPerCapita" data-sort-name="noCompletedVaccinationPerCapitaRaw" data-sort-order="desc">Completed per Capita</th>
      <th data-sortable="true" data-field="noCompletedVaccinationPerCapitaRaw" data-switchable="false" data-visible="false">Completed per Capita Raw</th>
    </tr>
    </thead>
    <tbody>
    <% @data['info']['vaccination']['global'].each do |country| %>
      <tr>
        <td><%= country['name'] %></td>
        <td><%= country['dateUpdated'] %></td>
        <td><%= country['noDosesTotal'] %></td>
        <td><%= country['noPeopleTotal'] %></td>
        <td><%= country['noCompletedVaccination'] %></td>
        <td><%= country['population'] %></td>
        <td><%= country['noDosesTotalPerCapita'].nil? ? "" : (country['noDosesTotalPerCapita']*100).round(4) %>%</td>
        <td><%= country['noDosesTotalPerCapita'] %></td>
        <td><%= country['noPeopleTotalPerCapita'].nil? ? "" : (country['noPeopleTotalPerCapita']*100).round(4) %>%</td>
        <td><%= country['noPeopleTotalPerCapita'] %></td>
        <td><%= country['noCompletedVaccinationPerCapita'].nil? ? "" : (country['noCompletedVaccinationPerCapita']*100).round(4) %>%</td>
        <td><%= country['noCompletedVaccinationPerCapita'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h3>USA Information</h3>
<p>Includes states, territories, and other subsections.</p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" data-toggle="table" data-pagination="true" data-search="true" data-show-columns-toggle-all="true" data-show-columns="true">
    <thead class="thead-dark">
    <tr>
      <th data-sortable="true" data-field="name" data-switchable="false" data-sort-order="asc">Name</th>
      <th data-sortable="true" data-field="noDosesTotal" data-sort-order="desc" data-visible="false">Doses</th>
      <th data-sortable="true" data-field="noPeopleTotal" data-sort-order="desc" data-visible="false">People</th>
      <th data-sortable="true" data-field="noCompletedVaccination" data-sort-order="desc">Completed</th>
      <th data-sortable="true" data-field="population" data-sort-order="desc">Population</th>
      <th data-sortable="true" data-field="noDosesTotalPerCapita" data-sort-name="noDosesTotalPerCapitaRaw" data-sort-order="desc" data-visible="false">Doses per Capita</th>
      <th data-sortable="true" data-field="noDosesTotalPerCapitaRaw" data-switchable="false" data-visible="false">Doses per Capita Raw</th>
      <th data-sortable="true" data-field="noPeopleTotalPerCapita" data-sort-name="noPeopleTotalPerCapitaRaw" data-sort-order="desc" data-visible="false">People per Capita</th>
      <th data-sortable="true" data-field="noPeopleTotalPerCapitaRaw" data-switchable="false" data-visible="false">People per Capita Raw</th>
      <th data-sortable="true" data-field="noCompletedVaccinationPerCapita" data-sort-name="noCompletedVaccinationPerCapitaRaw" data-sort-order="desc">Completed per Capita</th>
      <th data-sortable="true" data-field="noCompletedVaccinationPerCapitaRaw" data-switchable="false" data-visible="false">Completed per Capita Raw</th>
    </tr>
    </thead>
    <tbody>
    <% @data['info']['vaccination']['usa'].each do |country| %>
      <tr>
        <td><%= country['name'] %></td>
        <td><%= country['noDosesTotal'] %></td>
        <td><%= country['noPeopleTotal'] %></td>
        <td><%= country['noCompletedVaccination'] %></td>
        <td><%= country['population'] %></td>
        <td><%= country['noDosesTotalPerCapita'].nil? ? "" : (country['noDosesTotalPerCapita']*100).round(4) %>%</td>
        <td><%= country['noDosesTotalPerCapita'] %></td>
        <td><%= country['noPeopleTotalPerCapita'].nil? ? "" : (country['noPeopleTotalPerCapita']*100).round(4) %>%</td>
        <td><%= country['noPeopleTotalPerCapita'] %></td>
        <td><%= country['noCompletedVaccinationPerCapita'].nil? ? "" : (country['noCompletedVaccinationPerCapita']*100).round(4) %>%</td>
        <td><%= country['noCompletedVaccinationPerCapita'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h2 id="vaccines">Vaccines</h2>

<% @data['info']['data']['vaccines'].each do |vaccine| %>
  <h3><%= vaccine['nameDisplay'] %></h3>
  <p><%= vaccine['description'] %></p>
  <p>Doses Needed: <%= vaccine['dosesNeeded'] || "Unknown" %></p>
  <p>Efficacy: <%= vaccine['efficacy'] || "Unknown" %></p>
  <h4>Refrigeration</h4>
  <p>Temperature: <%= vaccine['refrigeration'] || "Unknown" %> (via <%= vaccine['refrigerationCategory'] || "Unknown" %>
    )</p>
  <p>Notes: <%= vaccine['refrigerationNotes'] || "Unknown" %></p>
<% end %>

<h2>Sources and Notes</h2>

<p><i>Note: Data gathered from government websites, official statements and Bloomberg interviews. Local governments and the CDC sometimes report different totals for the same jurisdiction; in these cases the higher number is used. It can take several days for counts to be reported to databases. Doses are counted when they are initially shipped instead of delivered for the following territories: U.S. Virgin Islands, Palau, Micronesia, Marshall Islands, Guam, American Samoa, and Northern Marianas Islands.</i></p>

<p><i>Note: Vaccinating roughly 70% to 85% of a country’s population would enable a return to normalcy, according to top U.S. infectious disease doctor Anthony Fauci. Current vaccines require two doses for full protection. Data are from Bloomberg’s Covid-19 Vaccine Tracker.</i></p>

<p><i>Note: Two doses are needed for full protection with the vaccines currently in use.</i></p>