<% content_for :meta_tags do %>
  <%= meta_tags title: "Wordle Solver",
                description: "Stuck on a hard Wordle? Want to challenge your friends? Wordle Solver is here to help! Enter your letters and get a quick answer.",
                keywords: "wordle, wordle solver, wordle solver app, wordle cheat, cheat, tool, wordle word, whats wordle, wordle code",
                service: "Chew's Tools" %>
<% end %>

<h1>Wordle Solver</h1>

<p>Stuck on a tough wordle? Use this nifty tool to get the right answers!</p>

<p><i>Note that this site is based on the NY Times Wordle word list. <%= link_to "Learn More", "#what-words-are-used" %></i></p>

<%= button_to "All Wordles", "/util/wordle/all", class: "btn btn-danger", form_class: 'd-inline',
              'data-bs-toggle': 'tooltip', title: "This page shows ALL wordle answers. Use as a last resort.",
              method: :get %>

<%= button_tag "Clear Fields", class: "btn btn-primary d-inline", id: "clear-fields",
               'data-bs-toggle': 'tooltip', title: "Clear input fields" %>

<hr>

<form action="/util/wordle/solve" method="post" class="clearable">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group">
    <h2>Enter confirmed letters (or blank for none)</h2>
    <p>Letters here are green, and are confirmed to be in this spot.</p>
    <!-- 5 input boxes, one for each letter -->
    <input type="text" name="confirmed[]" value="<%= session["wordle_confirmed"][0] %>" class="wordle-letter">
    <input type="text" name="confirmed[]" value="<%= session["wordle_confirmed"][1] %>" class="wordle-letter">
    <input type="text" name="confirmed[]" value="<%= session["wordle_confirmed"][2] %>" class="wordle-letter">
    <input type="text" name="confirmed[]" value="<%= session["wordle_confirmed"][3] %>" class="wordle-letter">
    <input type="text" name="confirmed[]" value="<%= session["wordle_confirmed"][4] %>" class="wordle-letter">
  </div>

  <br>

  <div class="row">
    <div class="form-group col-md-6">
      <h2>Enter confirmed/required letters (or blank for none)</h2>
      <p>Letters here are yellow, and they must appear in the word.</p>
      <!-- normal input box -->
      <input type="text" name="required" value="<%= session["wordle_required"] %>" class="form-control">
    </div>
    <div class="form-group col-md-6" id="letter-whitelist">
      <h2>Enter possible letters (any letter that is not greyed out)
        <span data-bs-toggle="tooltip" title="Switch to letters as a blacklist, not whitelist.">
          <%= link_to "Invert?", "#", id: "invertButtonToBlacklist" %>
        </span>
      </h2>
      <p>Letters here are unused, and not ruled out. The word can contain these letters.</p>
      <!-- normal input box -->
      <input type="text" name="can" value="<%= session["wordle_can"] %>" class="form-control">
    </div>
    <div class="form-group col-md-6 d-none" id="letter-blacklist">
      <h2>Enter not-possible letters (any letter that <b>IS</b> greyed out)
        <span data-bs-toggle="tooltip" title="Switch to letters as a whitelist, not blacklist.">
          <%= link_to "Invert?", "#", id: "invertButtonToWhitelist" %>
        </span>
      </h2>
      <p>Letters here have been ruled out. The word <b>cannot</b> contain these letters.</p>
      <!-- normal input box -->
      <input type="text" name="cant" value="<%= session["wordle_cant"] %>" class="form-control">
    </div>
  </div>

  <br>

  <div class="form-group w-100">
    <%= submit_tag "Submit", class: "btn btn-primary btn-block", data: { disable_with: "Submitting..." } %>
  </div>
</form>

<hr>

<h2>What is Wordle?</h2>

<p>
  Wordle is a brand new game taking the internet by storm. If you've ever played Hit and Blow and love word puzzles,
  you'll catch on very easily!<br>
  You must guess the word in as few guesses as possible, but only up to 6 tries. If you guess the word, you win!<br>
  Every word you try, you are given 3 colors. A green means the letter is in the word, and it's the right spot! If this
  happens, you can enter it in the right spot above.<br>
  If you get a yellow letter, this means the letter is in the word, but it may be there more than once.
  You can enter these letters in the "confirmed/required" box above.<br>
  Any other letter, dark grey, means the letter is not in the word.<br>
  Enter any letters you can play into the "possible letters" box above.
  This means any letter that you haven't tried yet.
</p>

<h2 id="what-words-are-used">What words are used?</h2>
<p>
  The word list is taken from the Wordle source code, meaning it is the same as the original game.
  Every possible word is included, and the words are in alphabetical order, but they're not necessarily possible answers.
</p>

<h2>Compatibility with Dordle and Quordle?</h2>
<p>
  While this site doesn't pull words from either game's dataset, I have been able to play it with success.
  You can simply use the same rules as Wordle, and the possible words all seem possible.
</p>

<h2>I found an issue! How can I report it?</h2>
<p>
  I prefer all bugs and requests flow through <%= link_to "GitHub", "https://github.com/Chew/chew.pw" %> to help me
  track and solve issues.
</p>