<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "iFunny Tools & Stats", "/ifunny", class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= navbar_item name: "Home", href: "/ifunny" %>
        <% if session[:ifunny_token] %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> Account
            </a>
            <div class="dropdown-menu" aria-labelledby="accountDropdown">
              <%= dropdown_item name: "Profile", href: "/ifunny/account", fa_icon: "fas fa-home" %>
            </div>
          </li>
          <%= navbar_item name: "Log out", href: "/ifunny/logout" %>
        <% else %>
          <%= navbar_item name: "Log in", href: "/ifunny/login" %>
        <% end %>
      </ul>

      <%= render "/layouts/navs/chew" %>
    </div>
  </div>
</nav>
