<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "NY Times", "/games/nytimes", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= navbar_item name: "Home", href: "/games/nytimes", fa_icon: "fas fa-home" %>
        <%= navbar_item name: "Wordle", href: "/games/nytimes/wordle", fa_icon: "fas fa-square-check" %>
        <%= navbar_item name: "Connections", href: "/games/nytimes/connections", fa_icon: "fas fa-table-cells-large" %>
      </ul>

      <%= render "/layouts/navs/chew" %>
    </div>
  </div>
</nav>