<div class="row">
  <div class="col">
    <h2>Sitemap</h2>

    <p>A lot of pages are buried everywhere. Here is the complete list!</p>

    <ul>
      <li><%= link_to "/chewbotcca", "/chewbotcca" %> - Chewbotcca Home Page
        <ul>
          <li><%= link_to "/discord", "/chewbotcca/discord" %> - Discord Home Page
            <ul>
              <li><%= link_to "/commands", "/chewbotcca/discord/commands" %> - Commands</li>
              <li><%= link_to "/privacy", "/chewbotcca/discord/privacy" %> - Privacy Policy</li>
            </ul>
          </li>
          <li><%= link_to "/slack", "/chewbotcca/slack" %> - Chewbotcca for Slack Home Page
            <ul>
              <li><%= link_to "/privacy", "/chewbotcca/slack/privacy" %> - Privacy Policy</li>
            </ul>
          </li>
        </ul>
      </li>
      <li><%= link_to "/cookiesinc", "/cookiesinc" %> - Cookies, Inc. Home Page
        <ul>
          <li>/teams
            <ul>
              <li><%= link_to "/top", "/cookiesinc/teams/top" %> - Top Teams</li>
            </ul>
          </li>
        </ul>
      </li>
      <li><%= link_to "/discord", "/discord" %> - Chew's Discord Tools - Home Page
        <ul>
          <li><%= link_to "/servers", "/discord/servers" %> - Discord Tools - Server Viewer</li>
          <li><%= link_to "/connections", "/discord/connections" %> - Discord Tools - Connections Viewer</li>
          <li><%= link_to "/webhooks", "/discord/webhooks" %> - Discord Tools - Webhook Sender</li>
        </ul>
      </li>
      <li><%= link_to "/mc", "/mc" %> - Chew's Minecraft Tools - Home Page
        <ul>
          <li><%= link_to "/enchant", "/mc/enchant" %> - Enchantment Translator</li>
          <li><%= link_to "/favicon", "/mc/favicon" %> - Favicon Resizer</li>
          <li><%= link_to "/jars", "/mc/jars" %> - JAR Downloader</li>
          <li><%= link_to "/log", "/mc/log" %> - Log Analyzer</li>
        </ul>
      </li>
      <li><%= link_to "/roblox", "/roblox" %> - Roblox Stuff - Home Page
        <ul>
          <li><%= link_to "/badges", "/roblox/badges" %> - Badge Progress</li>
        </ul>
      </li>
      <li>/solitaire
        <ul>
          <li><%= link_to "/solitaire/challenges" %> - Microsoft Solitaire Collection Daily Challenge List</li>
        </ul>
      </li>
      <li>/util
        <ul>
          <li><%= link_to "/html", "/util/html" %> - HTML to Text Converter</li>
          <li><%= link_to "/random", "/util/random" %> - Random String Generator</li>
          <li><%= link_to "/wordle", "/util/wordle" %> - Wordle Solver</li>
          <li><%= link_to "/bases", "/util/bases" %> - Base Converter</li>
        </ul>
      </li>
      <li><%= link_to "/vaccine", "/vaccine" %> - COVID-19 Vaccine Information</li>
      <li>/sports
        <ul>
          <li><%= link_to "/mlb", "/sports/mlb" %> - MLB Baseball Stats</li>
        </ul>
      </li>
    </ul>
  </div>
</div>