<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Team</th>
      <% total_innings(game).times do |i| %>
        <th><%= i + 1 %></th>
      <% end %>
      <th>R</th>
      <th>H</th>
      <th>E</th>
      <th>LOB</th>
    </tr>
    </thead>
    <tbody>
    <% %w[away home].each do |team| %>
      <tr>
        <td><%= link_to local_assigns[:"#{team}"]['clubName'], "/sports/mlb/team/#{local_assigns[:"#{team}"]['id']}" %></td>
        <% game['innings'].each_with_index do |inning, inning_number| %>
          <td id="<%= "#{team}-#{inning}" %>" class="valued-inning">
            <% current = ((inning_number + 1 == game['currentInning']) and ((team == 'away' and game['inningState'] == 'Top') or (team == 'home' and game['inningState'] == 'Bottom'))) %>
            <span class="shown-value <% if current && !state.include?("Final") %> mark bold <% end %> <% if inning[team]['runs'] == 0 %> pickoff <% end %>"><%= inning[team]['runs'] || (current ? 0 : '-') %></span>
            <span class="extra-data visually-hidden"><%= inning[team].map { |_, v| v }.join(',') %></span>
          </td>
        <% end %>
        <% (9 - game['currentInning']).times do |_| %>
          <td>-</td>
        <% end %>
        <% game['teams'][team].each do |_, amount| %>
          <td><b><%= amount %></b></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>