<% content_for :meta_tags do %>
  <%= meta_tags title: "MLB Stats",
                description: "Major league stats for major league baseball!",
                service: "Chew's MLB Stats",
                keywords: "sports mlb baseball" %>
<% end %>

<h1>Chew's MLB Stats</h1>

<p>Baseball stats but epic</p>

<h2>Team Standings</h2>

<div class="table-responsive">
<table class="table table-striped table-bordered table-hover" data-toggle="table" data-search="true">
  <thead class="table-dark">
  <tr>
    <th data-sortable="true" data-field="team" data-switchable="false" data-sort-order="asc">Team</th>
    <th data-sortable="true" data-field="wins" data-switchable="false" data-sort-order="desc">Wins</th>
    <th data-sortable="true" data-field="loss" data-switchable="false" data-sort-order="desc">Losses</th>
    <th data-sortable="true" data-field="ratio" data-switchable="false" data-sort-order="desc">Ratio</th>
  </tr>
  </thead>
  <tbody>
  <% @info.each do |division| %>
    <% division['teamRecords'].each do |team| %>
    <tr>
      <td><%= link_to team['team']['name'], "/sports/mlb/team/#{team['team']['id']}" %></td>
      <td><%= team['wins'] %></td>
      <td><%= team['losses'] %></td>
      <td><%= team['winningPercentage'] %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
</div>