<% content_for :meta_tags do %>
  <%= meta_tags title: "#{params[:year]} MLB Draft Breakdown",
                description:
                  "View everything you need to know about the #{params[:year]} MLB Draft. All players, who they were drafted by, their position, where they came from, and their overall pick.",
                service: "Chew's MLB Stats",
                keywords: "sports mlb baseball mlb draft #{params[:year]}" %>
<% end %>

<h1>MLB Draft for <%= params[:year] || Time.now.year %></h1>

<h2>Table of Contents</h2>

<ul>
  <li><%= header_link "Cool Stats" %></li>
  <li><%= header_link "Breakdown By Team" %>
    <ul>
      <% @teams.each do |team, _| %>
        <li><%= header_link team %></li>
      <% end %>
    </ul>
  </li>
  <li><%= header_link "Rounds" %>
    <ul>
      <% @draft['drafts']['rounds'].each do |round| %>
        <li><%= header_link "Round #{round['round']}" %></li>
      <% end %>
    </ul>
  </li>
</ul>

<h2 id="cool-stats">Cool Stats</h2>

<h3>Position Totals</h3>

<ul>
  <% @positions.sort_by {|_, f| f}.reverse.each do |position, amount| %>
    <li><%= position %>: <%= amount %></li>
  <% end %>
</ul>

<h2 id="breakdown-by-team">Breakdown By Team</h2>

<div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 rows-cols-sm-1 g-4">
  <% @teams.each do |team, players| %>
    <div class="col">
      <h3 id="<%= team.parameterize %>"><%= team %></h3>
      <p>
        <% players.each do |round, details| %>
          <%= round %>) <%= link_to details[0], "#pick-#{@players[details[0]]}" %>, <%= details[1] %><br>
        <% end %>
      </p>
    </div>
  <% end %>
</div>

<h2 id="rounds">Rounds</h2>

<% @draft['drafts']['rounds'].each do |round| %>
  <h3 id="round-<%= round['round'].parameterize %>">Round <%= round['round'] %></h3>

  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 rows-cols-sm-1 g-4">
    <% round['picks'].each do |pick| %>
      <% next if pick['person'].nil? %>
      <div class="col" id="pick-<%= pick['pickNumber'] %>">
        <div class="card h-100">
          <!--      <img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title"><%= pick['person']['fullName'] %></h5>

            <% if pick['blurb'] %>
            <p class="card-text">
              <a data-bs-toggle="modal" href="#" data-bs-target="#pick-<%= pick['pickNumber'] %>-bio" role="button" aria-expanded="false" aria-controls="pick-<%= pick['pickNumber'] %>-bio">
              View Blurb</a>
            </p>
            <% else %>
              <!-- Show "View Blurb", but with a Bootstrap Tooltip saying there's no blurb. -->
              <p>
              <span data-bs-toggle="tooltip" title="This player does not have a blurb." class="text-secondary">
                No Blurb
              </span>
              </p>
            <% end %>

            <p>Pick Number: <%= pick['pickNumber'] %></p>
            <p>Position: <%= pick['person']['primaryPosition']['name'] %></p>
            <p>Drafted By: <%= link_to pick['team']['name'], "/sports/mlb/team/#{pick['team']['id']}" %></p>

            <span class="card-text">
              School: <%= pick['school']['name'] %> (<%= pick['school']['state'] %>, <%= pick['school']['country'] %>)<br>
              Home: <%= pick['home']['city'] %> <%= pick['home']['state'] %> <%= pick['home']['country'] %>
            </span>
            <br>

            <div class="modal fade" id="pick-<%= pick['pickNumber'] %>-bio" tabindex="-1" aria-labelledby="pick-<%= pick['pickNumber'] %>-name" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="pick-<%= pick['pickNumber'] %>-name"><%= pick['person']['fullName'] %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= pick['blurb'] %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr>
<% end %>