<h1>NFL Team Stats</h1>

<p>View the NFL stats.</p>

<% @teams.each do |week| %>
  <h2><%= week['week'].ordinalize %> Week</h2>

  <table class="table">
    <thead>
    <tr>
      <th>Team</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Ties</th>
      <th>Pct</th>
      <th>Streak</th>
    </tr>
    </thead>
    <tbody>
    <% week['standings'].each do |team| %>
      <tr>
        <td><%= team['team']['fullName'] %></td>
        <td><%= team['overall']['wins'] %></td>
        <td><%= team['overall']['losses'] %></td>
        <td><%= team['overall']['ties'] %></td>
        <td><%= team['overall']['winPct'] %></td>
        <td><%= team['overall']['streak']['type'].nil? ? "-" : team['overall']['streak'].map{|_,f|f}.join('') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
