<% content_for :meta_tags do %>
  <%= meta_tags title: "NFL Stats",
                description: "National football stats for the National Football League!",
                service: "Chew's NFL Stats",
                keywords: "sports nfl football baseball cowboys patriots" %>
<% end %>

<h1>Chew's NFL Stats</h1>

<p>View the NFL stats.</p>

<% @teams.reverse.each do |week| %>
  <h2><%= week['week'].ordinalize %> Week</h2>

  <table class="table">
    <thead>
    <tr>
      <th>Team</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Ties</th>
      <th>Pct</th>
      <th>Streak</th>
    </tr>
    </thead>
    <tbody>
    <% week['standings'].each do |team| %>
      <tr>
        <td><%= link_to team['team']['fullName'], "/sports/nfl/team/#{team['team']['id']}" %></td>
        <td><%= team['overall']['wins'] %></td>
        <td><%= team['overall']['losses'] %></td>
        <td><%= team['overall']['ties'] %></td>
        <td><%= team['overall']['winPct'] %></td>
        <td><%= team['overall']['streak']['type'].nil? ? "-" : team['overall']['streak'].map{|_,f|f}.join('') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
