<div class="row">
  <div class="col">
    <h1 id="fix"><%= @name %>'s Badge Stats</h1>
    <h2><%= @game['name'] %></h2>
    <p>Players right now! <%= number_with_delimiter(@game['playing']) %><br />
    Total Visits: <%= number_with_delimiter(@game['visits']) %></p>
    <p>
      Green = You own<br />
      Red = Try again buddy
    </p>
    <h3>Badge Progress</h3>
    <p>Achieved: <%= achieved = @badges.count { |badge| has_badge?(@user, badge['name']) } %> (<%= (achieved / @badges.count.to_f * 100).round(2) %>%)<br />
    Not Achieved: <%= @badges.count - achieved %><br />
    Total: <%= @badges.count %></p>
    <p>
      <input type="checkbox" value="1" id="hideAchieved" <%= 'checked' if params['achieved'] == 'true' %>/>
      <label for="hideAchieved">Hide Achieved</label>
    </p>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover <%= 'table-dark' if session[:dark_mode] %>">
        <thead class="table-dark">
        <tr>
          <th>Badge Name</th>
          <th>Stats</th>
        </tr>
        </thead>
        <tbody>
        <% @badges.each do |e| %>
        <% next unless  e['enabled'] %>
        <% next if has_badge?(@user, e['name']) && params['achieved'] == 'true' %>
        <% if has_badge?(@user, e['name']) %>
          <tr class="table-success">
          <% else %>
           <tr class="table-danger">
          <% end %>
            <td width="55%">
              <h3><%= e['name'] %></h3>
              <p><%= e['description'] %></p>
            </td>
            <td width="45%">
              <%= (e['statistics']['winRatePercentage'] * 100).round(2) %>% of players [probably]<br />
              <%= number_with_delimiter(e['statistics']['pastDayAwardedCount']) %> earned today.<br />
              <%= number_with_delimiter(e['statistics']['awardedCount']) %> total earners.
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :extra_foot do %>
  <%= javascript_pack_tag "roblox" %>
<% end %>