<div class="row">
  <div class="col">
    <h1 id="welcomeh1">Power Ups</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <span style="color: #E6286E;"><%= image_tag "extra_life.png", height: '25px' %>
              Extra Lives</span>
            -
            <span style="text-align: right"><%= @user['lives'] %></span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            Wrong Answer? Continue playing with an Extra Life.
            <a href="https://hqtrivia.zendesk.com/hc/en-us/sections/360000661632-Power-Ups" target="_blank">Learn more</a>
            <br/>
            <br/>
            <span style="font-size: 90%; color: #AAAAAA">GET EXTRA LIVES</span>
            <br/>
            Play
            <%= bob = @user['streakInfo']['target'] - @user['streakInfo']['current'] %>
            more day<%= 's' if bob > 1 %>
            in a row.
            <br/>
            You can buy extra lives in the app.
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <span style="color: #2890FE;"><%= image_tag "erasers.png", height: '25px' %>
              Erasers</span>
            -
            <span style="text-align: right"><%= @user['erase1s'] %></span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            Use an Eraser to eliminate one wrong answer during a question.
            <a href="https://hqtrivia.zendesk.com/hc/en-us/sections/360000661632-Power-Ups" target="_blank">Learn more</a>
            <br/>
            <br/>
            <span style="font-size: 90%; color: #AAAAAA">GET ERASERS</span>
            <br/>
            You must be playing the game on the app and be nearby to 2 others during the game to earn an eraser.
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <span style="color: #FD8447;"><%= image_tag "https://cdn.discordapp.com/emojis/558466764250546197.png?v=1", height: '25px' %>
              Super Spins</span>
            -
            <span style="text-align: right"><%= @user['items']['superSpins'] %></span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            Use a super spin to get better items in HQ Words.
            <br/>
            <br/>
            <span style="font-size: 90%; color: #AAAAAA">GET SUPER SPINS</span>
            <br/>
            Get super spins by sharing your referral code for HQ Words.
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
