<div id="notification" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hey, so....</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Unfortunately, it's not possible (as of now) to modify your avatar on here yet. Please use the app.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Oh, okay</button>
      </div>
    </div>
  </div>
</div>
<div id="username" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Set Your Username</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/hq/saveusername" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" required="required" value="<%= @user['username'] %>" placeholder="Enter a username">
        </div>
        <div class="modal-footer">
          <button id="savebutton" type="submit" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<% if !flash[:usersaved].nil? %>
  <div id="usernotici" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Username Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><%= raw flash[:usersaved] %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col">

    <h1 id="welcomeh1">Settings</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Avatar</h2>
    <%= image_tag @user['avatarUrl'], height: '400px', width: '400px' %><br/>
    <a onclick="nocando()"><%= image_tag "change_button.png", style: 'position:absolute; margin-top:-400px;margin-left:300px' %></a>
  </div>
  <div class="col">
    <h2>Username</h2>
    <p>
      <b><%= @user['username'] %></b>
      <a onclick="showusername()"><%= image_tag "change_button.png", width: '30px'%></a>
    </p>
    <p>User ID:
      <input class="form-control" type="text" placeholder="<%= @user['userId'] %>" readonly="readonly"></p>

  </div>
  <div class="col">
    <h2>Notifications</h2>

  </div>
</div>

<script>
  function nocando() {
    $('#notification').modal({show: true})
  }
  function showusername() {
    $('#username').modal({show: true})
  }
</script>
<% if !flash[:usersaved].nil? %>
  <script>
    $('#usernotici').modal({show: true})
  </script>
<% end %>
