<% content_for :meta_tags do %>
  <%= meta_tags title: "Discord #{flash[:view_type]} Viewer",
                description: "View all of your Discord #{flash[:view_type].downcase}s in a nice list!",
                service: "Discord Tools",
                color: "#9ba0ff",
                keywords: "discord, viewer, #{flash[:view_type]} list, #{flash[:view_type]} viewer" %>
<% end %>

<h1>Discord <%= flash[:view_type] %> Viewer</h1>

<p>The easiest way to view all of your Discord <%= flash[:view_type] %>s in a nice table!</p>

<p>You are not signed in.</p>

<a href="https://discord.com/api/oauth2/authorize?client_id=758151124413972492&redirect_uri=<%= URI.encode_www_form_component(request.url) %>%2Fcallback&response_type=code&scope=<%= session[:scope] %>">
  <button class="btn btn-primary"><i class="fab fa-discord"></i> Sign-in with Discord</button>
</a>