<div class="row">
  <div class="col">

    <h1 id="welcomeh1">Welcome, <%= @profile['username'] %>!</h1>

    <p>Modify your profile below.</p>
  </div>
</div>
<form action="/hqbot/saveprofile" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="mb-3">
    <h3>HQ Username</h3>
    <label for="username" class="visually-hidden">Enter your HQ username below</label>
    <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" value="<%= @profile['username'] %>" placeholder="Enter username">
  </div>
  <div class="row">
    <div class="col">
      <h3>Status</h3>
      <p>These are your unmodifiable stats. Contact Chew if you want these modified.</p>
      <% @status.each do |internal, external| %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="<%= internal %>" disabled <%= 'checked' if @profile[internal] %>>
          <label class="form-check-label" for="<%= internal %>">
            <%= external %>
          </label>
        </div>
      <% end %>
    </div>
    <% if @profile['authkey'] %>
      <div class="col">
        <h3>Auth Key Settings</h3>
        <p>Thank you for being an Auth Key donor. Here are your settings.</p>
        <p>These get shown on YOUR <code>hq, user</code> output.</p>
        <h5>Key ID:</h5>
        <h6>(contact Chew to change, this is your HQ ID)</h6>
        <label for="keyIdInput" class="visually-hidden">View your HQ Key ID below</label>
        <input id="keyIdInput" class="form-control" type="text" placeholder="<%= @profile['keyid'] %>" readonly>
        <p></p>
        <% @settings.each do |internal, external| %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="<%= internal %>" name="<%= internal %>" <%= 'checked' if @profile[internal] %>>
            <label class="form-check-label" for="<%= internal %>">
              <%= external %>
            </label>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <button type="submit" class="btn btn-primary" data-disable-with="Saving...">Save Settings</button>
</form>
