<% content_for :meta_tags do %>
  <%= meta_tags title: "Log Analyzer",
                description: "Analyze your Minecraft Logs!",
                service: "Chew's Minecraft Tools",
                color: '#00AA00',
                keywords: "log analyzer, log, analyzer, minecraft log, minecraft log analyzer" %>
<% end %>

<h1>Log Analyzer</h1>
<p><i>Version: <%= link_to "1.0.6", "/mc/log/change" %></i></p>
<p>Upload your (supported) Minecraft log below to have it analyzed for common errors.</p>
<ul>
  <li>Server latest.log</li>
</ul>

<%= form_tag "/mc/log/analyze", multipart: true, method: :post do %>
  <div class="mb-3">
    <%= file_field_tag "log", accept: '.log', class: 'form-control' %>
  </div>

  <%= submit_tag "Upload", data: { disable_with: "Analyzing..." }, class: 'btn btn-primary' %>
<% end %>
