<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap (5.0.0-b2) -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <%= javascript_include_tag "jquery.js" %>

  <%= stylesheet_link_tag "bootstrap4compat" %>

  <%= stylesheet_link_tag "discord" %>

  <script src="https://kit.fontawesome.com/4ae5eef027.js"></script>

  <%= render 'layouts/flash' %>

  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_head %>
</head>
<body style="background-color: #7289DA;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Discord Tools", "/discord", class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%= navbar_item name: "Webhook Sender", href: "/discord/webhooks", fa_icon: "fas fa-globe" %>
        <%= navbar_item name: "Your Servers", href: "/discord/servers", fa_icon: "fas fa-server" %>
        <%= navbar_item name: "Your Connections", href: "/discord/connections", fa_icon: "fas fa-link" %>
      </ul>
    </div>
  </div>
</nav>
<div class="container" style="margin-top: 20px;">
  <div class="jumbotron">
    <%= yield %>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<%= javascript_pack_tag 'minecraft' %>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
</body>
</html>
