<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chew's Website - Home</title>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/4ae5eef027.js" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag "bootstrap4compat" %>
  <%= stylesheet_link_tag "front" %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Chew's Website</h1>
      </div>
      <div class="col">
        <b>Pages:</b><br/>
        <a href="/">Home</a>
        -
        <a href="https://chew.pro">My Projects</a>
        -
        <%= link_to "Sitemap", "/sitemap" %><br/>
        <b>Social Media:</b><br/>
        <a href="https://youtube.com/Chewsterchew">YouTube</a>
        -
        <a href="https://twitter.com/ChewCraft">Twitter</a>
        -
        <a href="https://github.com/Chew">GitHub</a>
        -
        <a href="https://steamcommunity.com/id/ChewCraft/">Steam</a>
      </div>
      <div class="col">
        <h3>Search the Site</h3>
        <form name="search" action="//duckduckgo.com/">
          <div class="form-group">
            <div class="input-group">
              <input type="search" class="form-control" placeholder="DuckDuckGo" name="q">
              <input type="hidden" value="chew.pw" name="sites">
              <input type="hidden" value="1" name="kh">
              <input type="hidden" value="1" name="kn">
              <input type="hidden" value="1" name="kac">
              <input type="hidden" value="1" name="kc">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <hr/>
    <%= yield %>
    <hr/>
    <div class="row">
      <div class="col col-sm-3">
        <p>Copyright &copy; Chew - 2017-<%= Time.now.year %></p>
        <p><%= link_to "Privacy Policy", "/privacy" %></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
